<div class="project-card">
  <img src="{{ project.data.thumbnail }}" alt="{{project.data}}" />
  <div class="project-heading-wrapper">
    <h2>{{ project.data.name }}</h2>
    <div class="project-tags">
        {%- for discipline in project.data.discipline -%}
          <h3> {{discipline}} </h3>  
        {%- endfor -%}
    </div>
    <div class="project-btn-group">
      <a
        class="primary base-btn flex-row-centered-middle"
        href="{{ project.url }}"
      >
        View Project
      </a>
      <a class="secondary base-btn flex-row-centered-middle" href="#">
        Live Site
      </a>
    </div>
  </div>
</div>
