<div class="project-card">
    <img src="./images/IP19-Hero Image.png" alt="">
    <div
        class="project-heading-wrapper">
        <!-- Basic project info -->
        <h2>Project Name</h2>
        <div id="project-tags">
            <h3>Project Tag #1</h3>
        </div>
        <!-- Button Groups for each project -->
        <div class="project-btn-group">
            <a class="primary base-btn flex-row-centered-middle" href="./island-party.html">
                View Project
            </a>
            <a class="secondary base-btn flex-row-centered-middle" href="#">
                Live Site
            </a>
        </div>
    </div>
</div>