@use "../abstracts/font-face" as *;

#contact {
  background-color: var(--clr-accent-light-blue);
  .heading-wrapper-contact {
    margin-bottom: 2em;
    position: relative;
    color: var(--clr-neutral-100);

    span:after {
      content: "";
      display: block;
      width: 55%;
      height: 2px;
      background-color: var(--clr-neutral-100);
      position: absolute;
      right: 0;
      top: 80%;
    }
  }
  .container {
    flex-direction: column;
  }
  form {
    .floating-label {
      margin: 1em 0;
    }
  }
  input,
  textarea {
    font-weight: $fw-n;
    padding: 1em;
    height: 56px;
    border: none;
    border-radius: 0.25em;
    background: white;
    min-width: 280px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    &:focus {
      border: solid 0.25em var(--clr-neutral-700);
      outline: 0;
    }
  }
}

.floating-label {
  position: relative;
  margin-bottom: 10px;
}

.floating-label label {
  position: absolute;
  top: calc(50%-7px);
  opacity: 0;
  transition: all 0.3s ease;
}

.floating-label input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floating-label input:not(:placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
