@use '../abstracts/font-face' as *;

body {
  font-family: $ff-ss;
  font-weight: $fw-n;
  color: var(--clr-neutral-600);
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: none;
  }
}

h1 {
  font-size: var(--fs-800);
  font-weight: $fw-b;
}

#hero {
  .huge-title {
    font-family: $ff-stylized;
    font-size: var(--fs-800);
    line-height: 0.95em;
  }
  .hero-title {
    font-size: var(--fs-400);
    font-weight: $fw-n;
    line-height: 1.7;
  }
}

.section-title {
  font-size: var(--fs-500);
  text-transform: uppercase;
  text-align: center;
}

.project-tags {
  h3 {
    font-size: var(--fs-200);
    font-weight: $fw-n;
  }
}

#mobile-menu-btn {
  font-weight: $fw-b;
  text-transform: uppercase;
}

#nav-link-wrapper-mobile {
  font-size: var(--fs-500);
  font-weight: $fw-n;
}

#middle {
  font-weight: $fw-b;
}
