section,
footer {
  padding: 4em 0;
}

.flex-row-centered-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  padding-top: 104px;
}
