@use '../abstracts/mixins' as *;
@use '../abstracts/font-face' as *;

button,
.base-btn {
  cursor: pointer;
  padding: 1em;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: transparent;
}

.primary,
.secondary,
.submit {
  font-size: var(--fs-200);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0.3em;
  width: 100%;
}

.primary {
  background-color: var(--clr-accent-light-blue);
  transition: all ease-in-out 250ms;
  color: var(--clr-neutral-100);
  @include mq(medium) {
    &:hover {
      background-color: var(--clr-accent-blue);
      transform: translateY(-2px);
      color: var(--clr-neutral-100);
      font-weight: $fw-b;
    }
  }
}
.secondary {
  transition: all ease-in-out 250ms;
  border: solid 2px transparent;
  color: var(--clr-neutral-600);

  @include mq(medium) {
    &:hover {
      border: solid 2px var(--clr-accent-orange);
      transform: translateY(-2px);
      color: var(--clr-accent-orange);
    }
  }
}
.submit {
  color: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-100);
  transition: all ease-in-out 250ms;
  @include mq(medium) {
    &:hover {
      background-color: var(--clr-neutral-100);
      color: var(--clr-accent-light-blue);
    }
  }
}

#sticky-btn-wrapper {
  position: sticky;
  bottom: 2em;
  margin-bottom: 2em;
  #back-to-work-btn {
    width: 50%;
    margin: auto;
  }
}
