@use "../abstracts/font-face" as *;
@use "../abstracts/mixins" as *;

#contact {
  background-color: var(--clr-neutral-200);
  .container {
    h2 {
      text-align: center;
    }
  }
}

.cta-social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-accent-light-blue);
  border-radius: 1em;
  max-width: 400px;
  padding: 1em;
  margin: 1em auto 0 auto;
}
.cta-social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 1em;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5em;
  margin: 0.5em 0;
  max-width: 375px;
  transition: transform ease-in-out 250ms;

  &:visited {
    color: inherit;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
  @include mq(medium) {
    &:hover {
      // background-color: var(--clr-accent-orange);
      color: var(--clr-accent-orange);
      transform: translateY(-2px);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      svg,
      g,
      path {
        fill: var(--clr-accent-orange);
      }
    }
  }
}

// #contact {
//   background-color: var(--clr-accent-light-blue);
//   .heading-wrapper-contact {
//     margin-bottom: 2em;
//     position: relative;
//     color: var(--clr-neutral-100);

//     span:after {
//       content: "";
//       display: block;
//       width: 55%;
//       height: 2px;
//       background-color: var(--clr-neutral-100);
//       position: absolute;
//       right: 0;
//       top: 80%;
//     }
//   }
//   .container {
//     flex-direction: column;
//   }
//   form {
//     .floating-label {
//       margin: 1em 0;
//     }
//     @include mq(medium) {
//       .floating-label {
//         margin-top: 0;
//       }
//       .contact-row-1 {
//         display: flex;
//         .gap {
//           margin-right: 1em;
//         }
//       }
//       #description {
//         width: 100%;
//         height: 125px;
//       }
//     }
//   }
//   input,
//   textarea {
//     font-weight: $fw-n;
//     padding: 1em;
//     height: 56px;
//     border: none;
//     border-radius: 0.25em;
//     background: white;
//     min-width: 280px;
//     box-sizing: border-box;
//     transition: all 0.3s linear;
//     color: #000;
//     &:focus {
//       border: solid 0.25em var(--clr-neutral-700);
//       outline: 0;
//     }
//   }
// }

// .floating-label {
//   position: relative;
//   margin-bottom: 10px;
// }

// .floating-label label {
//   position: absolute;
//   top: calc(50%-7px);
//   opacity: 0;
//   transition: all 0.3s ease;
// }

// .floating-label input:not(:placeholder-shown) {
//   padding: 28px 0px 12px 0px;
// }
// .floating-label input:not(:placeholder-shown) + label {
//   transform: translateY(-10px);
//   opacity: 0.7;
// }
