@use "../abstracts/mixins" as *;

//-----------------------------------------
// Project Card
//-----------------------------------------

.project-card {
  overflow: hidden;
  border-radius: 1em;
  border: 3px solid var(--clr-neutral-700);
  background-color: var(--clr-neutral-100);
  margin: 2em 0;
  .project-tags {
    display: flex;
    margin: 0.25em 0 1.5em 0;
    h3 {
      outline: solid 1.5px black;
      padding: 0.1em 0.5em;
      margin: 0 0.3em;
      border-radius: 1em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .project-heading-wrapper {
    padding: 1.5em 1em 1em 1em;
    .project-btn-group {
      display: flex;
      flex-direction: row;
      margin-top: 1em;
    }
  }

  @include mq(medium) {
    margin: 0;
    transition: all ease-in-out 250ms;
    &:hover {
      box-shadow: 8px 8px 0 0 var(--clr-neutral-700);
      transform: translate(-8px, -8px);
    }
  }
}
