---
layout: project-highlight.njk
name: Island Party
---


{%- for project in projects-%}
    {%- if project.title === name -%}
        

        {%- if project.projectContent.projectImages -%}
            <div class="project-block image-grid-block container">
                {%- for img in project.projectContent.projectImages -%}
                    {%- if 'process' in img.name -%}
                        <img src="{{ img.formats.medium.url }}" alt="{{img.alternativeText}}" />
                     {%- endif -%}
                 {%- endfor -%}
            </div>
        {%- endif -%}

        {# Content Section 2 #}
        {%- for content in project.projectContent.sectionContent-%}
            {%- if content.sectionNum === "2" -%}
                {%- include 'project-block-content.njk'-%}
            {%- endif -%}
        {%- endfor -%}

        {# {%- include 'project-image-with-space-block.njk'-%} #}

        {# Content Section 3 #}
        {%- for content in project.projectContent.sectionContent-%}
            {%- if content.sectionNum === "3" -%}
                {%- include 'project-block-content.njk'-%}
            {%- endif -%}
        {%- endfor -%}
        
      

    {%- endif -%}
    {%- endfor -%}