---
tags: ["project","other"]
name: Island Party
descriptiveTitle: A Music Festival of Giving.
year: 2019
client: Beta Upsilon Chi
team: Island Party Committee
thumbnail: /images/IP19-Hero Image.png
thumbnailAlt: Alt text for thumbnail
heroImage: /images/IP19-Hero Image.png
imageAlt: Alt text for Hero image
description: [Island Party Music Festival is a philanthropy event hosted by the men of Beta Upsilon Chi raising money for Living Water International and The Bridge Ministries., I was a member of this Christian Fraternity and had the opportunity to further solidify a robust brand. Below you will find the transformation between the 2018 and 2019 events.]
liveLink:

---


{%- for project in projects-%}
    {%- if project.title === name -%}
        

        {# Content Section 2 #}
        {%- for content in project.projectContent.processInfo-%}
            {%- if content.sectionNum === "2" -%}
                {%- include 'project-block-content.njk'-%}
            {%- endif -%}
        {%- endfor -%}

        {# Content Section 3 #}
        {%- for content in project.projectContent.processInfo-%}
            {%- if content.sectionNum === "3" -%}
                {%- include 'project-block-content.njk'-%}
            {%- endif -%}
        {%- endfor -%}
        
      

    {%- endif -%}
    {%- endfor -%}