---
layout: project-case-study.njk
name: NASA Redesign
---

{%- for project in projects-%}
    {%- if project.title === name -%}

        {%- if project.projectContent.projectImages -%}
                        <div class="project-block image-grid-with-description-block container">
                        <div class="process-description">
                                {%- for additionalContent in project.projectContent.additionalContent-%}
                                    {%- if additionalContent.sectionNum === "1" or additionalContent.sectionNum === "2"-%}
                                        <h3>{{additionalContent.title}}</h3>
                                        <p>{{additionalContent.descTitle | safe}}</p>
                                        
                                        {%- if loop.last -%}
                                            {% else %}
                                                <br><br>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                            <div class="image-grid">
                                {%- for img in project.projectContent.projectImages -%}
                                        {%- if 'process1' in img.name -%}
                                            <img src="{{ img.formats.medium.url }}" alt="{{img.alternativeText}}" />
                                        {%- endif -%}
                                {%- endfor -%}
                            </div>                    
                        </div>
                {%- endif -%}
                

                {# Content Section 2 #}
                {%- for content in project.projectContent.sectionContent-%}
                    {%- if content.sectionNum === "2" -%}
                        {%- include 'project-block-content.njk'-%}
                    {%- endif -%}
                {%- endfor -%}

                {%- if project.projectContent.projectImages -%}
                        <div class="project-block image-grid-with-description-block container">
                        <div class="process-description">
                                {%- for additionalContent in project.projectContent.additionalContent-%}
                                    {%- if additionalContent.sectionNum === "1" or additionalContent.sectionNum === "2"-%}
                                    {%- else -%}
                                        <h3>{{additionalContent.title}}</h3>
                                        <p>{{additionalContent.descTitle | safe}}</p>
                                        
                                        {%- if loop.last -%}
                                            {% else %}
                                                <br><br>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                            <div class="image-grid">
                                {%- for img in project.projectContent.projectImages -%}
                                        {%- if 'process2' in img.name -%}
                                            <img src="{{ img.formats.medium.url }}" alt="{{img.alternativeText}}" />
                                        {%- endif -%}
                                {%- endfor -%}
                            </div>                    
                        </div>
                {%- endif -%}



                {# Content Section 3 #}
                {%- for content in project.projectContent.sectionContent-%}
                    {%- if content.sectionNum === "3" -%}
                        {%- include 'project-block-content.njk'-%}
                    {%- endif -%}
                {%- endfor -%}


                    {%- if project.projectContent.projectImages -%}
                        <div class="project-block image-grid-with-description-block container">
                        <div class="process-description">
                                {%- for additionalContent in project.projectContent.additionalContent-%}
                                    {%- if additionalContent.sectionNum === "1" or additionalContent.sectionNum === "2"-%}
                                    {%- else -%}
                                        <h3>{{additionalContent.title}}</h3>
                                        <p>{{additionalContent.descTitle | safe}}</p>
                                        
                                        {%- if loop.last -%}
                                            {% else %}
                                                <br><br>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                            <div class="image-grid">
                                {%- for img in project.projectContent.projectImages -%}
                                        {%- if 'process3' in img.name -%}
                                            <img src="{{ img.formats.medium.url }}" alt="{{img.alternativeText}}" />
                                        {%- endif -%}
                                {%- endfor -%}
                            </div>                    
                        </div>
                {%- endif -%}


                {# Content Section 4 #}
                {%- for content in project.projectContent.sectionContent-%}
                    {%- if content.sectionNum === "4" -%}
                        {%- include 'project-block-content.njk'-%}
                    {%- endif -%}
                {%- endfor -%}

                {%- if project.projectContent.projectImages -%}
                        <div class="project-block image-grid-with-description-block container">
                        <div class="process-description">
                                {%- for additionalContent in project.projectContent.additionalContent-%}
                                    {%- if additionalContent.sectionNum === "1" or additionalContent.sectionNum === "2"-%}
                                    {%- else -%}
                                        <h3>{{additionalContent.title}}</h3>
                                        <p>{{additionalContent.descTitle | safe}}</p>
                                        
                                        {%- if loop.last -%}
                                            {% else %}
                                                <br><br>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                            <div class="image-grid">
                                {%- for img in project.projectContent.projectImages -%}
                                        {%- if 'process4' in img.name -%}
                                            <img src="{{ img.formats.medium.url }}" alt="{{img.alternativeText}}" />
                                        {%- endif -%}
                                {%- endfor -%}
                            </div>                    
                        </div>
                {%- endif -%}

            {%- endif -%}
{%- endfor -%}