---
title: About
layout: 'base.njk'
---
<section id="about">
    <div class="container">
        <div class="about-info">
            <h1>Kevin Gammenthaler</h1>
            <h3>A persistent designer with 4 years of design experience, but diving head first into Front-End
                    Development and Product Design.</h3>
            <p>I have found that combining my technical education with my design experience has been an eye-opening
                    experience. I am currently transitioning to a UI/UX design focus since I have recently seen how I
                    can leverage my engineering background in that field.<br><br> I'm an engineer turned graphic
                    designer that has experience in creating logos, social media
                    packages, branding and motion design. I have a BS in Industrial Distribution – a unique blend of
                    engineering and business – where I learned to distill technical information into actionable business
                    items. Since graduating from Texas A&M University in December 2019, I have completed a Digital
                    Publishing Certificate from Savannah College of Art and Design (SCAD). Before attending SCAD I was
                    completely self-taught, so I am no stranger to a new challenge.</p>
        </div>
        <div class="headshot">

            <span class="background-image" role="img" aria-label="headshot of kevin gammenthaler"></span>

            <span>** imagine longer hair **</span>
        </div>

    </div>
</section>