---
name: Home
layout: base.njk
---

<section id="hero">
  <div class="container ">
    <div id="hero-content" class="bg-neutral-200 flex-row-centered-middle">
      <h1 id="huge-title">Hello</h1>
      <h2>
        I am Kevin Gammenthaler, a designer based in Nashville, TN, focused on
        product and web design.
      </h2>
    </div>
  </div>
</section>
<section id="featured-work" class="work-section bg-neutral-200">
  <div class="container">
    <h2 class="section-title">Featured</h2>
    <div class="project-card-wrapper">
      {%- for project in projects -%}
        {%- if project.featured -%}
          {%- include 'project-card.njk'-%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>

<section id="other-work" class="work-section bg-neutral-100">
  <div class="container">
    <h2 class="section-title">Work</h2>
    <div class="project-card-wrapper">

      {%- for project in projects -%}
        {%- if project.featured -%}
        {%- else -%}
          {%- include 'project-card.njk'-%}
          
        {%- endif -%}
      {%- endfor -%}
    
      
    </div>
  </div>
</section>
