<div class="project-card">
  {%- for heroThumbnail in project.projectInfo.heroImage.imageGroup-%}
    <img src="{{ heroThumbnail.formats.medium.url }}" alt="{{heroThumbnail.alternativeText}}" />
  {%- endfor -%}
  
  <div class="project-heading-wrapper">
    <h2>{{ project.title }}</h2>
    <div class="project-tags">
        {%- for category in project.categories-%}
          <h3> {{category.title}} </h3>  
        {%- endfor -%}
    </div>
    <div class="project-btn-group">
      <a
        class="primary base-btn flex-row-centered-middle"
        href="/project/{{ project.slug }}"
      >
        View Project
      </a>
                    {%- include 'secondary-button.njk'-%}
      
      
    </div>
  </div>
</div>
