
{# Image Grid Block #}
<div class="project-block image-grid-block container">
    <img src="{{thumbnail}}" alt="">
    <img src="{{thumbnail}}" alt="">
    <img src="{{thumbnail}}" alt="">
    <img src="{{thumbnail}}" alt="">
</div>


{# Contained Media Block #}
<div class="project-block contained-media-with-space container">
    <iframe src="https://player.vimeo.com/video/352785729" width="1039" height="916" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>


{# Carousel Gallery Block #}
<div class="project-block carousel-wrap-block container">
    <div class="carousel-slide">
        <img id="lastClone" class="carousel-item carousel-transition" src="./images/IMG_2060 2.JPG" alt="">
        <img class="carousel-item carousel-transition" src="{{thumbnail}}" alt="">
        <img class="carousel-item carousel-transition" src="./images/IMG_2060 2.JPG" alt="">
        <img class="carousel-item carousel-transition" src="{{thumbnail}}" alt="">
        <img class="carousel-item carousel-transition" src="./images/IMG_2060 2.JPG" alt="">
        <img id="firstClone" class="carousel-item carousel-transition" src="{{thumbnail}}" alt="">
    </div>
    <div class="carouel-nav-wrap">
        <button id="prevBtn">Prev</button>
        <button id="nextBtn">Next</button>
    </div>
</div>
</div>