<div class="project-block contained-media-with-space container">
            <iframe src="{{project.projectContent.projectVideo.href}}" width="1039" height="916" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>