<div class="project-blocks">
        <div class="project-block project-intro-block container">
            <div class="project-description">
                <h2 class="project-title-h2">{{project.projectInfo.heroTitle}}</h2>
                    <br>
                {%- for item in project.projectInfo.heroContent-%}
                    {%- if item.title === null-%}
                        {%- else -%}
                            <h3 class="project-details-h3">{{item.title}}</h3>
                            {{item.descTitle | safe}}

                     {%- endif -%}
                {%- endfor -%}
                    {%- include 'secondary-button.njk'-%}

            </div>
            <ul class="project-intro-details">
                {%- for detail in project.projectInfo.details-%}
                    <li>
                        <h3 class="project-details-h3">{{detail.title}}</h3>
                        <span>{{detail.descTitle}}</span>
                    </li>
                {%- endfor-%}
                <li>
                    <h3 class="project-details-h3">Disciplines</h3>
                    {%- for category in project.categories -%}
                        <span> {{category.title}} </span>  
                    {%- endfor -%}
                </li>
            </ul>

        </div>
        <div class="center-block project-block image-alone-full-width-block">
            {%- for heroThumbnail in project.projectInfo.heroImage.imageGroup-%}
                <img class="hero-img" src="{{ heroThumbnail.url }}" alt="{{heroThumbnail.alternativeText}}" />
            {%- endfor -%}
        </div>