---
layout: base.njk
---
{%- for project in projects-%}
    {%- if project.title === name -%}
        {%- include 'project-header.njk'-%}

        {# Content Section 1 #}
        {%- for content in project.projectContent.processInfo-%}
            {%- if content.sectionNum === "1" -%}
                {%- include 'project-block-content.njk'-%}
            {%- endif -%}
        {%- endfor -%}
    
        
        {{ content | safe }}

        <section id="similar-work" class="work-section bg-neutral-200">
            <div class="container">
                <h2 class="section-title">Similar Work</h2>
                <div class="project-card-wrapper">

                    {%- for project in projects -%}
                        {%- if project.featured -%}
                             {%- else -%}
                                {%- include 'project-card.njk'-%}
                        {%- endif -%}
                     {%- endfor -%}
                </div>
            </div>
        </section>
    </div>

    {%- endif -%}
{%- endfor -%}