{# Content Block #}
<div class="project-block project-content-block">
    <div class="container">
        <h2>
            {{content.title}}
         </h2>
        <p>{{content.descTitle}}</p>
    </div>
</div>